
@{
    ViewBag.Title = "";
}
<br/>
<br />

<div>
    <h2><span class="mySpan"> About Us</span></h2>
</div>

<hr />
<body id="grad">
<p> This web application has developed as a result of our group assignment for System Design Module. 
    The main aim of this project is to develop a web application which makes information dissemination 
    much easier in a paperless community as the world tends to interact with people around the world. 
    Therefore, we intended to create an <b style="color: blue">“Electronic Bulletin Board System [EBBS]”</b> that provides the users publish posts and leave comments.
    EBBS will encourage users to make their own posts with an image or a vedio that enable others to share their opinions, experiences as a comment,
    vote likes and dislikes and report about abused posts. 
    EBBS is fully capable of passing relevant events and keeping the users update from time to time. 
    This Electronic Bulletin Board application facilitates member of the system to add, update and delete their own posts and comments. 
    And, the admin is able to erase reported posts and manage system users by removing and assigning admin rights.</p>

</body>