@{
    ViewBag.Title = "Contact";
}

<br />
<br />

<div>
    <h2><span class="mySpan"> Contact Us</span></h2>
</div>

<hr />
<body id="grad">
    <div align="center" class="row">
        <div class="column">
            <div class="profile-item large-4 small-12 columns match">
                <div class="profilepicgrid">
                    <div class="profile-img lazy" data-original="~/images/Medha.jpg"><img src="~/images/Medha.jpg" /></div>
                    <div class="profile-entry text-center">
                        <h3>MEDHAVI SAKUNTHALA</h3>
                        <p class="title">Software Developer | &nbsp; UI Engineer</p>
                        <p>I love to devlop and design the website</p>
                        <p><b>Contact :</b>b5035173@my.shu.ac.uk</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="profile-item large-4 small-12 columns match">
                <div class="profilepicgrid">
                    <div class="profile-img lazy" data-original="~/images/Safi.jpg"><img src="~/images/Safi.jpg" /></div>
                    <div class="profile-entry text-center">
                        <h3>SAFIULLAH ZURI</h3>
                        <p class="title">Software Developer| &nbsp; UI Engineer</p>
                        <p>I love to devlop and design the website</p>
                        <p><b>Contact :</b>b8033335@my.shu.ac.uk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div align="center" class="row">
        <div class="column">
            <div class="profile-item large-4 small-12 columns match">
                <div class="profilepicgrid">
                    <div class="profile-img lazy" data-original="~/images/Mounika.jpg"><img src="~/images/Mounika.jpg" /></div>
                    <div class="profile-entry text-center">
                        <h3>MOUNIKA GURRAM</h3>
                        <p class="title">UI Engineer</p>
                        <p>I love to design the website</p>
                        <p><b>Contact :</b>b5035173@my.shu.ac.uk</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="profile-item large-4 small-12 columns match">
                <div class="profilepicgrid">
                    <div class="profile-img lazy" data-original="~/images/Kunal.jpg"><img src="~/images/Kunal.jpg" /></div>
                    <div class="profile-entry text-center">
                        <h3>KUNAL KURAPATHI</h3>
                        <p class="title">UI Engineer</p>
                        <p>I love to design the website</p>
                        <p><b>Contact :</b>b8033335@my.shu.ac.uk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




