@using EBBS.Data
@model IEnumerable<EBBS.Data.Logs>
<br />
<br />
<div>
    <h2><span class="mySpan"> View User Audits </span></h2>
</div>
<hr />
<body id="grad">
<table class="table table-bordered table-hover table-responsive" style="table-layout: fixed">
    <tr class="bg-info" style="background-color: lightgrey">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.loggedTime)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.User.username)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.loggedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>

        </tr>
    }

</table>
</body>