@foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions) {
    
}

<h1>Please select your security question:</h1>
<input type="text" class="form-control" id="username" />
<select class="form-control" id="qSelect">
    @foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions)
    {
        <option value="@question.qId">@question.question</option>
    }

</select>
<input type="text" class="form-control" id="qAnswer" />
<a href="#" class="btn btn-primary" id="check">Check Security Question and Answer</a>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $("#check").click(function (e) {
        e.preventDefault();
        var sqId = $("#qSelect").val();
        var answer = $("#qAnswer").val();
        var username = $("#username").val();

        $.ajax({
            type: 'POST',
            data: { username: username, sqId: sqId, answer: answer },
            url: '/My/ForgotPassword',
            success: function (response) {
                if (response[0] == "success") {
                    alert(response[1]);
                    window.location.href = "/My/ResetPassword/" + response[2];
                } else if (response[0] == "failure") {
                    alert(response[1]);
                }

            },
            error: function (a, b, c) {

            }

        });
    });
</script>