<h1>Navigated to reset password page!</h1>
<h1>@ViewBag.userId</h1>

<input type="password" class="form-control" id="password" />
<input type="password" class="form-control" id="cpassword" />
<a class="btn btn-default" id="reset">Reset Password</a>





<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#reset").click(function (e) {
        e.preventDefault();
        var password = $("#password").val();
        var confirmPassword = $("#cpassword").val();
 
        if (password.length < 6) {
            alert("The password should be at least 6 characters!")
        } else if (password != confirmPassword) {
            alert("Passwords do not match!");
        } else {
            $.ajax({
                type: 'POST',
                data: {password: password },
                url: '/My/SetNewPassword',
                success: function (response) {
                    alert(response);
                    window.location.href = "/Account/Login";
                },
                error: function (a, b, c) {

                }


            });
        }




    });

</script>
